
<div class="white_txt">

  <div class="clock">
    <h1 class="t1" id="t1">{{dd}}.{{md}}</h1>
    <h6 class="t2" id="t2">{{td}}</h6>
  </div>

  <p  class="about" id="about">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Galactic Time is another base-10 system of time, but instead is based on a 'galactic' constant (Cesium-133 fluctuations) instead of
    the rotation of Earth.
    Days (also known as a Krislon) are divided into 10 <span class="dd"> Wizlons</span>, Wizlons are divided into 100<span class="md"> Peemlons</span>, and Peemlons are divided into 100 <span class="td">Meeplons</span>.
    1 Meeplon is 10,000,000,000 fluctuations of Cesium-133. This means a Meeplon is slightly faster than a normal Earth second.<a href="/"> Wizlon Time...</a>
  </p>


</div>

