<h1 xmlns="http://www.w3.org/1999/html"> Contact Us </h1>

<ul>
  <li>Email: contact.hotdrinkstudios@gmail.com</li>
  <li>Twitter: https://twitter.com/hotdrinkstudios</li>
  <li>Patreon: https://www.patreon.com/hotdrinkstudios?fan_landing=true</li>
</ul>

<h2> IOS and Google Play Privacy Policy </h2>
<p>
  i. This app does not use or collect any personal data.<br>
  ii. Because we do not use any third party services, there will be no personal data given to third party services.<br>
  iii. Because we do not collect any data whatsoever, the user does not need to delete or revoke consent for data collection.<br>
</p>
